.NavHeadder {
  color: white;
  height: 5em;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  background-image: url("../../assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 2.5em;
  border-bottom-right-radius: 2.5em;
  justify-content: space-between;
  background-color: transparent;
}
.Logo {
  margin-left: 2em;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.navigationContainer {
  margin-right: 5em;
  display: flex;
  /* height: 100%; */
  align-items: center;
  gap: 10%;
}

.exp {
  width: 20%;
  margin-right: 2em;
}

@media only screen and (max-width: 767px){
  .NavHeadder{
   justify-content: space-evenly;
  }
  .Logo{
    margin:0;
  }
  .navigationContainer{
    margin: 0;
  }
  .exp{
    width: 30vw;
  }
}