.container {
  box-shadow: 0px 0px 22px 2px #ff202040;
  display: flex;
  padding: 1em 2em;
  width: 80%;
}

.container > img {
  margin: 2%;
  width: 5%;
  aspect-ratio: 1/1;
}

.possition {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding-left: 5%;
}

.infoContainer {
  min-width: 40%;
  max-width: 50%;
}

/* .infoContainer {
  flex-basis: 100%;
} */

.infoBlock {
  color: #9c9c9c;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  /* gap: 1em; */
  margin: 1em;
  justify-content: start;
  width: 70%;
}

/* .infoBlock > * {
  flex-basis: 100%;
} */

.infoBlock > span {
  display: flex;
  align-items: center;
  flex-basis: 100%;
}
.infoBlock > span > p {
  width: 100%;
}

@media (width < 70em) {
  .infoBlock > span {
    flex-direction: column;
  }
}

.infoBlock img {
  margin: 5%;
}

.skillList {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

.skillList > span {
  background-color: #ffeeee;
  padding: 2%;
}
.skillBlock {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: space-evenly;
  align-items: end;
}
.optionButtons {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 1em;
}
.details {
  color: white;
  padding: 1%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  background-color: #ed5353;
  border: none;
  border-radius: 8px;
  font-size: 19px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.details:hover {
  transform: scale(1.1);
}

.editBtn {
  background-color: white;
  color: #ed5353;
  border: 2px solid #ed5353;
}
.tags {
  gap: 1em;
  color: #ed5353;
}
@media only screen and (max-width: 767px){
  .container{
    padding: 1em;
    width:90%;
    flex-direction: column;
    align-items: center;
  }

  .container > img{
    width: 9%;
  }

  .infoContainer{
    min-width: 100%;
  }
  .infoContainer > p{
    text-align: center;
    padding: 0;
  }

  .infoBlock{
   width: 100%;
    margin: 10px 0 10px 0;
  }
.infoBlock >span>p{
  text-align: center;
}
  .skillList{
    justify-content: center;
    margin-bottom: 10px;
  }
  .tags{
    justify-content: center;
  }
  .optionButtons{
    justify-content: center;
    margin: 10px 0 10px 0;
  }
}