.centerWatch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ErrorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffefef;
  height: 100dvh;
}

.ErrorPage > h1 {
  margin: 1em;
}
